$primary-color: #444;
$secondary-color: #FF8C00;
* {}

body {
    background: $primary-color;
    color: #fff;
}

//Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 6rem;
    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.1rem 1;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    height: 100%;
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem;
            &:hover {
                color: $secondary-color
            }
        }
    }
}